extends layout

block content
    div(ng-controller="IndexCtrl")
        h1= title
        p Welcome to #{title}
        label Name:
            input(type="text", ng-model="yourName", placeholder="Enter a name here")
            hr
            h1 Hello {{yourName}}!
        
            h3 Hello {{agent}}
            
            my-customer
        
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js')
    script(type='text/javascript', src='/scripts/app.js')
    script(type='text/javascript', src='/scripts/directives.js')
    script(type='text/javascript', src='/scripts/controllers.js')
    script(type='text/javascript', src='/scripts/services.js')
    script(type='text/javascript', src='/scripts/filters.js')
    