doctype 5
html(lang="en",ng-app)
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js')